@font-face{
    font-family: Champagne;
    src: url("../fonts/Champagne\ &\ Limousines.ttf");
}

table,td {
	border: 1px solid black;
	font-family: Champagne;
    font-size: 25px;
    text-align: center;
    background: rgb(241, 185, 62);
    color: black;
    width: 960px;
    height: 70px;
    line-height: 25px;
    margin: 25 auto;
}

html, body {
	background-color:rgb(211,205,190);
}

.titulos h1{
    font-family: Champagne;
    font-size: 55px;
    text-align: center;
    background: #962116;
    color: white;
    width: 960px;
    height: 75px;
    line-height: 75px;
    margin: 25 auto;
}